01_Inline_SubReports/masterreport-subreport1_all_orders.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--This XML Schema file is a conversion of masterreport.rdd with name subreport1_all_orders done on Fri Sep 20 16:32:56 2019-->
<xsd:schema xmlns:fgl="http://www.4js.com/2010/FglTypes" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://tempuri.org/masterreport-subreport1_all_orders" targetNamespace="http://tempuri.org/masterreport-subreport1_all_orders" elementFormDefault="qualified">
  <xsd:import schemaLocation="fgltypes.xsd" namespace="http://www.4js.com/2010/FglTypes"/>
  <xsd:element type="masterreport-subreport1_all_orders" name="Report0"/>
  <!--Definition of type : masterreport-subreport1_all_orders-->
  <xsd:complexType name="masterreport-subreport1_all_orders">
    <xsd:annotation>
      <xsd:appinfo>
        <label>Report</label>
        <match>Report</match>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" type="GroupType1" name="Group1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--Definition of type : GroupType1-->
  <xsd:complexType name="GroupType1">
    <xsd:annotation>
      <xsd:appinfo>
        <label>Group userid</label>
        <match>Group</match>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" type="GroupType2" name="Group2" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--Definition of type : GroupType2-->
  <xsd:complexType name="GroupType2">
    <xsd:annotation>
      <xsd:appinfo>
        <label>Group orderid</label>
        <match>Group</match>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" type="GroupType3" name="Group3" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--Definition of type : GroupType3-->
  <xsd:complexType name="GroupType3">
    <xsd:annotation>
      <xsd:appinfo>
        <label>Group linenum</label>
        <match>Group</match>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" type="OnEveryRowType4" name="OnEveryRow4" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--Definition of type : OnEveryRowType4-->
  <xsd:complexType name="OnEveryRowType4">
    <xsd:annotation>
      <xsd:appinfo>
        <label>OnEveryRow</label>
        <match>OnEveryRow</match>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element type="fgl:integer" name="orderline.orders.orderid"/>
      <xsd:element type="char_80" name="orderline.orders.userid"/>
      <xsd:element type="fgl:date" name="orderline.orders.orderdate"/>
      <xsd:element type="char_80" name="orderline.orders.shipfirstname"/>
      <xsd:element type="char_80" name="orderline.orders.shiplastname"/>
      <xsd:element type="char_80" name="orderline.orders.shipaddr1"/>
      <xsd:element type="char_80" name="orderline.orders.shipaddr2"/>
      <xsd:element type="char_80" name="orderline.orders.shipcity"/>
      <xsd:element type="char_80" name="orderline.orders.shipstate"/>
      <xsd:element type="char_20" name="orderline.orders.shipzip"/>
      <xsd:element type="char_3" name="orderline.orders.shipcountry"/>
      <xsd:element type="char_80" name="orderline.orders.billfirstname"/>
      <xsd:element type="char_80" name="orderline.orders.billlastname"/>
      <xsd:element type="char_80" name="orderline.orders.billaddr1"/>
      <xsd:element type="char_80" name="orderline.orders.billaddr2"/>
      <xsd:element type="char_80" name="orderline.orders.billcity"/>
      <xsd:element type="char_80" name="orderline.orders.billstate"/>
      <xsd:element type="char_20" name="orderline.orders.billzip"/>
      <xsd:element type="char_3" name="orderline.orders.billcountry"/>
      <xsd:element type="decimal_10_2" name="orderline.orders.totalprice"/>
      <xsd:element type="char_80" name="orderline.orders.creditcard"/>
      <xsd:element type="char_7" name="orderline.orders.exprdate"/>
      <xsd:element type="char_80" name="orderline.orders.cardtype"/>
      <xsd:element type="char_3" name="orderline.orders.sourceapp"/>
      <xsd:element type="char_80" name="orderline.account.userid"/>
      <xsd:element type="char_80" name="orderline.account.email"/>
      <xsd:element type="char_80" name="orderline.account.firstname"/>
      <xsd:element type="char_80" name="orderline.account.lastname"/>
      <xsd:element type="char_2" name="orderline.account.acstatus"/>
      <xsd:element type="char_80" name="orderline.account.addr1"/>
      <xsd:element type="char_40" name="orderline.account.addr2"/>
      <xsd:element type="char_80" name="orderline.account.city"/>
      <xsd:element type="char_80" name="orderline.account.state"/>
      <xsd:element type="char_20" name="orderline.account.zip"/>
      <xsd:element type="char_3" name="orderline.account.country"/>
      <xsd:element type="char_80" name="orderline.account.phone"/>
      <xsd:element type="char_80" name="orderline.account.langpref"/>
      <xsd:element type="char_10" name="orderline.account.favcategory"/>
      <xsd:element type="fgl:integer" name="orderline.account.mylistopt"/>
      <xsd:element type="fgl:integer" name="orderline.account.banneropt"/>
      <xsd:element type="char_3" name="orderline.account.sourceapp"/>
      <xsd:element type="char_3" name="orderline.country.code"/>
      <xsd:element type="char_50" name="orderline.country.codedesc"/>
      <xsd:element type="fgl:integer" name="orderline.lineitem.orderid"/>
      <xsd:element type="fgl:integer" name="orderline.lineitem.linenum"/>
      <xsd:element type="char_10" name="orderline.lineitem.itemid"/>
      <xsd:element type="fgl:integer" name="orderline.lineitem.quantity"/>
      <xsd:element type="decimal_10_2" name="orderline.lineitem.unitprice"/>
      <xsd:element type="char_10" name="orderline.product.productid"/>
      <xsd:element type="char_10" name="orderline.product.catid"/>
      <xsd:element type="char_80" name="orderline.product.prodname"/>
      <xsd:element type="char_255" name="orderline.product.proddesc"/>
      <xsd:element type="char_255" name="orderline.product.prodpic"/>
      <xsd:element type="char_10" name="orderline.category.catid"/>
      <xsd:element type="fgl:smallint" name="orderline.category.catorder"/>
      <xsd:element type="char_80" name="orderline.category.catname"/>
      <xsd:element type="char_255" name="orderline.category.catdesc"/>
      <xsd:element type="char_255" name="orderline.category.catpic"/>
      <xsd:element type="char_10" name="orderline.item.itemid"/>
      <xsd:element type="char_10" name="orderline.item.productid"/>
      <xsd:element type="decimal_10_2" name="orderline.item.listprice"/>
      <xsd:element type="decimal_10_2" name="orderline.item.unitcost"/>
      <xsd:element type="fgl:integer" name="orderline.item.supplier"/>
      <xsd:element type="char_2" name="orderline.item.itstatus"/>
      <xsd:element type="char_80" name="orderline.item.attr1"/>
      <xsd:element type="char_80" name="orderline.item.attr2"/>
      <xsd:element type="char_80" name="orderline.item.attr3"/>
      <xsd:element type="char_80" name="orderline.item.attr4"/>
      <xsd:element type="char_80" name="orderline.item.attr5"/>
      <xsd:element type="decimal_10_2" name="lineitemprice"/>
      <xsd:element type="decimal_10_2" name="overalltotal"/>
      <xsd:element type="decimal_10_2" name="usertotal"/>
      <xsd:element type="decimal_10_2" name="ordertotal"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="char_80">
    <xsd:annotation>
      <xsd:appinfo>
        <label>CHAR(80)</label>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="fgl:char">
      <xsd:maxLength value="80"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char_20">
    <xsd:annotation>
      <xsd:appinfo>
        <label>CHAR(20)</label>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="fgl:char">
      <xsd:maxLength value="20"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char_3">
    <xsd:annotation>
      <xsd:appinfo>
        <label>CHAR(3)</label>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="fgl:char">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="decimal_10_2">
    <xsd:annotation>
      <xsd:appinfo>
        <label>DECIMAL(10,2)</label>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="fgl:decimal">
      <xsd:totalDigits value="10"/>
      <xsd:fractionDigits value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char_7">
    <xsd:annotation>
      <xsd:appinfo>
        <label>CHAR(7)</label>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="fgl:char">
      <xsd:maxLength value="7"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char_2">
    <xsd:annotation>
      <xsd:appinfo>
        <label>CHAR(2)</label>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="fgl:char">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char_40">
    <xsd:annotation>
      <xsd:appinfo>
        <label>CHAR(40)</label>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="fgl:char">
      <xsd:maxLength value="40"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char_10">
    <xsd:annotation>
      <xsd:appinfo>
        <label>CHAR(10)</label>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="fgl:char">
      <xsd:maxLength value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char_50">
    <xsd:annotation>
      <xsd:appinfo>
        <label>CHAR(50)</label>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="fgl:char">
      <xsd:maxLength value="50"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char_255">
    <xsd:annotation>
      <xsd:appinfo>
        <label>CHAR(255)</label>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="fgl:char">
      <xsd:maxLength value="255"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
